<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/XSL/Transform"
      xmlns:v-slot="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" ">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- 引入样式 -->
    <!--<link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>测试Title</title>
</head>
<body>
<el-container id="app">
    <!-- <div v-for="u in userList">
         {{u.name}} -&#45;&#45;&#45;&#45; {{u.code}}
     </div>-->
    <el-header>
        <module></module>
    </el-header>

    <el-container>
        <el-aside>
            <side-muse v-bind:museum="museum"></side-muse>
            <!--<button-counter name="name"></button-counter>-->
        </el-aside>
        <el-main>
            <el-card shadow="hover">
                <el-row justify="end" type="flex">
                    <el-col :span="18">
                        <el-page-header>
                            <template v-slot:content>
                                <span><i class="el-icon-menu"></i> 菜单管理</span>
                            </template>
                        </el-page-header>
                    </el-col>
                    <el-col :span="6">
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                            <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
                            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
                            <el-breadcrumb-item>活动详情</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
            </el-card>
            <el-row type="flex">
                <el-col :span="24">
                    <el-card class="search-card" shadow="hover">
                        <template v-slot:header>
                            <span>查询</span>
                        </template>
                        <el-form :inline="true" label-width="80px">
                            <el-form-item label="名称">
                                <el-input></el-input>
                            </el-form-item>
                            <el-form-item label="活动区域">
                                <el-input></el-input>
                            </el-form-item>
                            <el-form-item label="活动形式">
                                <el-input></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary">查询</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button>重置</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>

            <el-card class="search-card" shadow="hover">
                <el-row type="flex">
                    <el-col :span="2">
                        <el-button type="primary">主要按钮</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="success">成功按钮</el-button>
                    </el-col>
                    <el-col :span="2">

                        <el-button type="info">信息按钮</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="warning">警告按钮</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="danger">危险按钮</el-button>
                    </el-col>
                </el-row>
                <el-table :data="tableData" stripe border>
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column type="index" width="55"></el-table-column>
                    <el-table-column prop="name" label="名称"></el-table-column>
                    <el-table-column prop="type" label="类型">
                        <template slot-scope="scope">
                            <template v-if="scope.row.type==='MUSEUM'">
                                <i class="el-icon-menu"></i>
                                <span>菜单</span>
                            </template>
                            <template v-else>
                                <i class="el-icon-s-data"></i>
                                <span>模块</span>
                            </template>
                        </template>
                    </el-table-column>
                    <el-table-column prop="orderIndex" label="序号"></el-table-column>
                    <el-table-column prop="parent" label="父级"></el-table-column>
                    <el-table-column prop="rootNode" label="是否是根目录"></el-table-column>
                    <el-table-column prop="icon" width="55" label="图标">
                        <template slot-scope="scope">
                            <i :class="scope.row.icon"></i>
                        </template>
                    </el-table-column>
                    <el-table-column prop="title" label="标题"></el-table-column>
                    <el-table-column prop="groupTitle" label="分组标题"></el-table-column>
                    <el-table-column prop="groupIcon" label="分组图标"></el-table-column>
                </el-table>
                <el-row type="flex" justify="end">
                    <el-col :span="8">
                        <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="currentChange"
                                :total="page.total"
                                :current-page="page.currentPage"
                                :page-size="page.pageSize">
                        </el-pagination>
                    </el-col>
                </el-row>
            </el-card>
        </el-main>
    </el-container>
</el-container>
</body>
<!-- import Vue before Element -->
<script th:src="@{/plugin/vue.js}"></script>
<script th:src="@{/plugin/vue-router.js}"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script th:src="@{/plugin/axios.min.js}"></script>
<script th:src="@{/js/museum.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const webctx = /*[[@{/}]]*/'';
    /*]]>*/
</script>
</html>